/* #div {
	color: rgb(255,255, 0);
} */

/* table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 10px;
	background-color: red;
	color: #fff;
} */

/* *{
	margin: 0;
} */

/*  Id Selector */

/* #div {
	height: 100px;
	width: 100px;
	background-color: red;
} */

/*  class Selector */

/* .div {
	height: 100px;
	width: 100px;
	background-color: red;
} */

/* tag selector */

/* div{
	height: 100px;
	width: 100px;
	background-color: red;
} */

/* Background */
/* 
div{
	height: 100px;
	width: 100px;
     background-image: url(image1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	border-left: 1px dotted red; 
	background-color: red;
	display: inline-block;
}


p {
	color: red;
	text-align:center;
	 text-decoration: line-through;
	text-transform: uppercase;
	text-indent: 1px;
	letter-spacing: 1px;
	/* line-height: 10px; */
/* text-shadow: 10px 2px;

	font-size: 32px;
	font-weight: 600;
	font-family: 'Courier New', Courier, monospace;
}

p:hover{
	color:green
}

span {
	display: block;
	float: right;
} */

/* p {
	position: fixed;
    top: 10px;
    left: 196px;
} */

/* #parent {
   height: 200px;
   width: 200px;
   background-color: red;
   color: #fff;
   position: relative;
} */

/* Flex box */
/* #parent {
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
}

.child{
	height: 10%;
	width: 10%;
   
	background-color: red;
	color: white;
} */

/* @media screen and (max-width: 667px) {
	#parent {
		display: block !important;
		flex-direction: none;
	}
  } */

/* grid */

/* #parent{
	display: grid;
} */

/* media queries */
/* 
@media screen and (max-width: 1190px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: red;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: black;
  }
} */

